.paralax {
    /* background-color: #3498db; */
    height: 753px;
    background: linear-gradient(-30deg, #00f8f8ef, #b703e4);
}

.main-mess {
    background-color: #fff;
    border-radius: 10px;
}

.list-unstyled li {
    color: red;
}

h2 {
    border-bottom: 3px solid #3498db;
    display: inline;
    padding-bottom: 10px;
}